#simplify-section {
  background-color: var(--Bright-Red);
  text-align: center;

  div {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem 1.3rem;

    h4 {
      font-size: var(--fs-700);
      max-width: 22ch;
      line-height: 1.3;
      color: var(--Vary-Light-Gray);
      margin: 0 auto;
    }

    button {
      background-color: var(--Vary-Light-Gray);
      color: var(--Bright-Red);
      margin: 0 auto;
      margin-top: 1.5rem;
      transition: 0.3s ease;
    }

    @media (min-width: 55rem) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: left;

      h4 {
        margin-left: 0;
      }

      button {
        margin-right: 0;
      }
    }
  }
}
