@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");
// font-weight = 400, 500, 700

:root {
  // ### Primary

  --Bright-Red: hsl(12, 88%, 59%);
  --Dark-Blue: hsl(228, 39%, 23%);

  // ### Neutral

  --Dark-Grayish-Blue: hsl(227, 12%, 61%);
  --Very-Dark-Blue: hsl(233, 12%, 13%);
  --Very-Pale-Red: hsl(13, 100%, 96%);
  --Vary-Light-Gray: hsl(0, 0%, 98%);

  //normal font size
  --fs-nav-btn: 1rem;
  --fs-para: 1.05rem;
  --fs-sm-para: 0.95rem;

  //heading font size
  --fs-700: 2rem;
  --fs-900: 2.5rem;

  //Navbar logo size
  --fs-logo: 7rem;

  @media (min-width: 55rem) {
    --fs-nav-btn: 0.855rem;
    --fs-sm-para: 1.05rem;

    --fs-logo: 8rem;

    --fs-900: 3.4rem;
    --fs-700: 2.7rem;
  }
}
